body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html:root {
  --white: hsl(45, 2%, 90%);
  --grey: hsl(0, 0%, 80%);
  --black: hsl(0, 4%, 10%);
  --pink: hsl(334, 50%, 70%);
}

.little-buddy {
  position: absolute;
  top: 0;
  left: 0;
}
